.switch{
    color: brown;
    font-size: 40px;
}
#photo{
    margin-top: 2px;
    background-color: rgba(91, 116, 136, 0.333);
    position: relative;
}
.image img{
    width: 40%;
    margin-top: 25px;
    margin-left: 10px;

}
#copy{
    
    margin: 50px;
}
.switch{
    font-size: 12px;
}
#button{
    background-color: rgba(110, 8, 51, 0.267);
}
.clas{
    background-color: lightblue;
    margin-left: 100px;
    

}
